
HEADER_SEARCH_PATHS = $(inherited) "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/LinguaFranca" "${PODS_ROOT}/Headers/Public/QredoCommon" "${PODS_ROOT}/Headers/Public/QredoCrypto" "${PODS_ROOT}/Headers/Public/QredoCrypto/openssl" "${PODS_ROOT}/Headers/Public/QredoCrypto/sodium" "${PODS_ROOT}/Headers/Public/QredoLibPaho" "${PODS_ROOT}/Headers/Public/SocketRocket"
LIBRARY_SEARCH_PATHS = "$(PODS_ROOT)/../../qredo_ios_crypto/External/libsodium-ios" "$(PODS_ROOT)/../../qredo_ios_crypto/External/libtomcrypt" "$(PODS_ROOT)/../../qredo_ios_crypto/External/libtomcrypt" "$(PODS_ROOT)/../../qredo_ios_crypto/External/openssl"
OTHER_CFLAGS = $(inherited) -isystem "${PODS_ROOT}/Headers/Public" -isystem "${PODS_ROOT}/Headers/Public/LinguaFranca" -isystem "${PODS_ROOT}/Headers/Public/QredoCommon" -isystem "${PODS_ROOT}/Headers/Public/QredoCrypto" -isystem "${PODS_ROOT}/Headers/Public/QredoCrypto/openssl" -isystem "${PODS_ROOT}/Headers/Public/QredoCrypto/sodium" -isystem "${PODS_ROOT}/Headers/Public/QredoLibPaho" -isystem "${PODS_ROOT}/Headers/Public/SocketRocket"
OTHER_LDFLAGS = $(inherited) -ObjC -l"crypto_iOS" -l"sodium" -l"tomcrypt" -l"tommath" -l"PINCache" -l"QredoCommon" -l"QredoCrypto" -l"LinguaFranca" -l"SocketRocket" -l"QredoLibPaho"
PODS_ROOT = ${SRCROOT}/Pods

